/*! 
    Credits:
    Flexoki (MIT License), github.com/kepano/flexoki
*/
@import url("https://cdn.jsdelivr.net/gh/kepano/flexoki@main/css/flexoki.css");

:root {
    --bg-main: var(--flexoki-black);
    --bg-sec: var(--flexoki-950);
    --bg-thr: var(--flexoki-900);
  
    --text-main: var(--flexoki-200);
    --text-sec: var(--flexoki-500);
    --text-thr: var(--flexoki-700);
  
    --ui-border: var(--flexoki-900);
    --ui-hover: var(--flexoki-850);
    --ui-active: var(--flexoki-800);
  
    --accent1: var(--flexoki-purple-600);
    --accent2: var(--flexoki-purple-400);
  
    --error: var(--flexoki-red-400);
    --warning: var(--flexoki-orange-400);
    --success: var(--flexoki-green-400);
    --info: var(--flexoki-cyan-400);

    font-size: 16px;
    --font-size: 1rem;
    --font-size-sec: 0.75rem;
    --padding: 0.25rem;
    --margin: 0.25rem;  
    --border: 1px;
    --outer-radius: 1rem;
    --inner-radius: calc(var(--outer-radius) - (var(--padding) + var(--margin)));
    --border-full: 1px solid var(--ui-border);
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.02);
    --content-width: 90%;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-main: var(--flexoki-paper);
        --bg-sec: var(--flexoki-50);
        --bg-thr: var(--flexoki-100);
        --text-main: var(--flexoki-black);
        --text-sec: var(--flexoki-600);
        --text-thr: var(--flexoki-300);
        --ui-border: var(--flexoki-100);
        --ui-hover: var(--flexoki-150);
        --ui-active: var(--flexoki-200);
        --accent1: var(--flexoki-purple-600);
        --accent2: var(--flexoki-purple-400);
        --error: var(--flexoki-red-600);
        --warning: var(--flexoki-orange-600);
        --success: var(--flexoki-green-600);
        --info: var(--flexoki-cyan-600);
    }
}

@media (max-width: 768px) {
    :root {
        --content-width: 80%;
    }
}

* {
    color: var(--text-main);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    background-color: var(--bg-main);
    padding: 0;
    transition-timing-function: ease-in-out;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

p {
    margin: calc(var(--padding) / 2) 0;
}

p, span, div {
    font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--margin);
}

hr {
    border: 1px solid var(--ui-border);
    border-radius: var(--outer-radius);
    margin: var(--margin);
}

ul {
    padding: var(--padding);
    padding-left: calc(var(--padding) * 4);
    margin: 0;
}

li {
    margin: var(--margin);
}

a {
    color: var(--info);
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    opacity: 0.9;
}

a:visited {
    color: var(--info);
    opacity: 0.8;
}

a.router-link-exact-active {
    color: var(--text-main);
}

button {
    padding: calc(var(--padding) * 2);
    margin: var(--margin);
    border-radius: var(--inner-radius);
    border: 1px solid var(--ui-border);
    background-color: var(--bg-sec);
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: var(--font-size);
}

button:hover {
    border-color: var(--ui-hover);
    background-color: var(--bg-thr);
}

button:active {
    border-color: var(--ui-active);
    background-color: var(--ui-active);
}

button > .icon {
    height: var(--font-size);
    color: var(--text-main);
    margin-right: var(--margin);
}

.danger {
    border-color: var(--error);
    color: var(--error);
}

input, select {
    padding: calc(var(--padding) * 2);
    margin: var(--margin);
    border-radius: var(--inner-radius);
    border: 1px solid var(--ui-border);
    background-color: var(--bg-sec);
    color: var(--text-main);
    transition: all 0.2s ease;
}

input:hover, select:hover {
    border-color: var(--ui-hover);
}

input:focus, select:focus {
    outline: none;
    border-color: var(--info);
    background-color: var(--bg-main);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: calc(var(--padding) * 8);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath stroke='%23575653' fill='none' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M8 10l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right var(--padding) center;
    background-repeat: no-repeat;
    background-size: calc(var(--font-size) * 1.5) calc(var(--font-size) * 1.5);
}

.switch { 
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
    background-color: var(--bg-main);
    border: 1px solid var(--ui-border);
    border-radius: 20px;
    transition: all 0.2s ease;
}

.switch::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--text-sec);
    top: 1px; 
    left: 1px;
    transition: all 0.2s;
}

.checkbox:checked + .switch::before {
    left: 15px;
}

.checkbox:checked + .switch {
    background-color: var(--accent1);
}

.checkbox { 
    display: none;
}

.checkbox-label {
    display: flex;
    width: fit-content;
    gap: var(--padding);
    align-items: center;
}

.dynamic-container {
    position: relative;
    margin: 50px;
    padding: 20px;
}

.dynamic-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--ui-border);
    pointer-events: none;
}

.dynamic-title {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
    background: var(--bg-main);
    padding: 0 10px;
    font-family: Arial, sans-serif;
}

.panel {
    padding: var(--padding);
    margin: var(--margin);
    background-color: var(--bg-sec);
    border-radius: var(--outer-radius);
    border: 1px solid var(--ui-border);
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
}

.panel:hover {
    border-color: var(--ui-hover);
}

.panel-inactive {
    background-color: var(--bg-main);
    border: 1px solid var(--ui-border);
}

.circle {
    border-radius: 50%;
}

.color-circle {
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 1px solid var(--ui-border);
}

.panel-adjust {
    height: auto;
    width: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-flex-container {
    display: flex;
    flex-grow: 3;
    gap: var(--padding);
}

.flex-nogap {
    gap: 0;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
    flex-grow: 1;
}

fieldset {
    background-color: var(--bg-sec);
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--ui-border);
    width: 100px;
    height: 100px;
    border-radius: var(--outer-radius);
}

legend {
    margin-bottom: calc(-1 * var(--font-size) / 2);
    margin-left: var(--margin);
}

.icon {
    vertical-align: text-bottom;
}

.spinner {
    border: 2px solid var(--ui-border);
    border-radius: 50%;
    border-top: 2px solid var(--accent1);
    width: 12px;
    height: 12px;
    display: inline-block;
    animation: spin 1s linear infinite;
    margin: 0;
    margin-bottom: -2px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disable-box-shadow, fieldset fieldset, .panel .panel {
    box-shadow: none;
}

.no-shadows .panel, .no-shadows header {
    box-shadow: none !important;
}

.inner-radius, fieldset fieldset, .panel .panel {
    border-radius: var(--inner-radius);
}

vr {
    height: 80%;
    width: 1px;
    background-color: var(--ui-border);
}

header {
    margin: 0 0 var(--margin) 0;
    border-bottom: var(--border-full);
    box-shadow: var(--box-shadow);
    width: 100%;
    display: flex;
    justify-content: center;
}

header > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--padding) * 2);
    width: 95%;
}

header .header-title > .icon {
    height: var(--font-size);
    margin-right: var(--margin);
    margin-bottom: 2px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc(var(--padding) * 2);
}

#app {
    padding: calc(var(--padding) * 2);
    width: var(--content-width);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 2 * var(--padding));
    padding: var(--padding);
    margin: var(--margin) 0 var(--margin) 0;
}